<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>16PF</title>
<link type="text/css" href="/statics/css/layui.css" rel="stylesheet" />
<style>
.grade_warp{
	margin:44px auto 80px auto;
	width:1020px;
	text-align: center;
}

.grade_warp2{
	position: absolute;
	margin:20px auto 20px auto;
	left:50%;
	margin-left:-510px;
}
li:hover {opacity:0.7;filter(alpha=70)}
a.under:hover {text-decoration:underline;}
a{text-decoration:none;letter-spacing: 1px;}
.selected{
	opacity:0.7;filter(alpha=70);
}
</style>
<body>
<div style="background-color:#383838;width:100%;height:44px;position:absolute;top:0px;">
	<ul style="margin:10px auto auto auto;width:1020px;text-align:center;">
		<li style="margin-left:0px;float:left;"><a href="/"><img src="/statics/images/plane.png" width="23px" height="23px"/></a></li>
		<li style="margin-left:80px;float:left;margin-top:5px;"><a href="/index.php/psytest/mbti/index" style="color:#fff;font-family:Arial, Helvetica, sans-serif;font-size:14px;">MBTI</a></li>
		<li style="margin-left:60px;float:left;margin-top:5px;" class="selected"><a href="/index.php/psytest/pf/index" style="color:#fff;font-family:Arial, Helvetica, sans-serif;font-size:14px;">16PF</a></li>
		<li style="margin-left:600px;float:left;"><a ><img src="/statics/images/123.png" width="20px" height="20px"/></a></li>
		<li style="margin-left:80px;float:left;margin-top:-5px;"><a ><img src="/statics/images/weixin.png" width="33px" height="33px"/></a></li></ul>
</div>

<div class="grade_warp">
<p style="margin-top:15px;margin-bottom:50px;color:#00001f;font-family:Arial, Helvetica, sans-serif;font-size:21px;float:left;">16PF	
	<a></a><a></a><a></a><a id="begin" href="/index.php/psytest/pf/question" class="layui-btn layui-btn-mini layui-btn-normal" style="margin-left:927px;">测评</a></p>

<div style="width:1020px;border-bottom:1px solid rgb(130, 130, 130);margin-top:55px;position:absolute"></div>

<p style="color:#000;font-size:27px;text-align:center;">这里是标题</p>
<p style="color:#000;font-size:34px;text-align:center;">这里是简介</p>

<img src="/statics/images/pf.jpg" width="1020px" height="574px" style="margin:80px 0 50px 0"/>

<p style="color:#000;font-size:19px;text-align:center;width:730px;margin: auto auto auto auto;letter-spacing: 1px;line-height:2">本测验共有187道题目，都是有关个人的兴趣和态度等问题。对问题的如何回答，并没有“对”与“不对”之分，只是表明你对这些问题的态度，请你要尽量表达个人的意见，不要有顾忌。
    应当记住的是： 1、尽量不要选择中性答案
                  2、本测验不记时间，但凭自己的直觉反应进行作答，不要迟疑不决，拖延时间。
                  3、有些题目你可能从未思考过，或者感到不太容易回答。对于这样的题目，同样要求你做出一种倾向性选择。</p>
</div>

<div class="grade_warp2">
<div style="width:1020px;border-bottom:1px solid #D8D8D8;margin-top:120px;"></div>
<p style="margin-top:10px;color:#888888;font-size:5px;float:left;">Copyright © 2017 sistergate.com &nbsp;&nbsp;&nbsp;保留所有权利。
<a style="margin-left:50px;font-size:5px;" href="" class="under">隐私政策</a>
<span style="color:#CCC;margin-left:10px;margin-right:10px;">|</span>
<a style="font-size:5px;" href="" class="under">使用条款</a>
<span style="color:#CCC;margin-left:10px;margin-right:10px;">|</span>
<a style="font-size:5px;" href="" class="under">法律信息</a>
<span style="color:#CCC;margin-left:10px;margin-right:10px;">|</span>
<a style="font-size:5px;" href="" class="under">网站地图</a>
<a style="margin-left:350px;" class="under"><img src="/statics/images/China.png" width="15px" height="15px" style="margin-right:5px;"/>中国</a>
</p>
<p style="margin-top:10px;color:#888888;font-size:5px;float:left;margin-right:800px;"> 陕ICP备17016501</p>
</div>

</body>
</html>