<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>16PF</title>
<style>
.grade_warp{
	margin:100px auto auto auto;width:1020px;text-align:center;
}
a:hover {text-decoration:underline;}
a{text-decoration:none;letter-spacing: 1px;}
</style>
<body>

<div class="grade_warp">
<h1>16PF</h1>
<p style="font-size:19px;text-align:left">本测验共有187道题目，都是有关个人的兴趣和态度等问题。对问题的如何回答，并没有“对”与“不对”之分，只是表明你对这些问题的态度，请你要尽量表达个人的意见，不要有顾忌。
    应当记住的是： 1、尽量不要选择中性答案
                  2、本测验不记时间，但凭自己的直觉反应进行作答，不要迟疑不决，拖延时间。
                  3、有些题目你可能从未思考过，或者感到不太容易回答。对于这样的题目，同样要求你做出一种倾向性选择。</p>
<h2>此处有图片，蛋花没给我</h2>

<a id="begin" href="/index.php/psytest/pf/question" style="font-family:Arial, Helvetica, sans-serif;color:#1E90FF;font-size:23px;font-weight:bold;">开始测评&nbsp;></a
</div>

</body>
</html>