<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>性格类型测评</title>
<link type="text/css" href="/statics/css/style.css" rel="stylesheet" />
<link type="text/css" href="/statics/css/layui.css" rel="stylesheet" />
</head>
<body>
<div class="grade_warp">

<?php foreach($question as $k=>$v){ ?>
<p>{$v['id']}.{$v['Question']}</p>
	<div class="User_ratings User_grade" id="div_fraction0">
A.{$v['Aoption']}
	<div class="ratings_bars">       
			<span id="title_A{$v['id']}" class="title">0</span>
			<span class="bars_10">0</span>
			<div class="scale" id="bar_A{$v['id']}">
				<div id="div_A{$v['id']}"></div>
				<span id="btn_A{$v['id']}"></span>
			</div>
			<span class="bars_10">5.0</span>
	</div>
	</div>

	<div class="User_ratings User_grade" id="div_fraction0">
B.{$v['Boption']}
		<div class="ratings_bars">
			<span id="title_B{$v['id']}" class="title">0</span>
			<span class="bars_10">0</span>
			<div class="scale" id="bar_B{$v['id']}">
				<div id="div_B{$v['id']}"></div>
				<span id="btn_B{$v['id']}"></span>
			</div>
			<span class="bars_10">5.0</span>
		</div>
	</div>
   <p style="margin-top:120px;"></p>

<?php }?>

<input type="button" value="提交" id="submit" class="layui-btn layui-btn-big layui-btn-radius layui-btn-normal" style="margin-left:320px"/>

</div>
   <p style="margin-top:120px;"></p>
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js">
</script>
<script type="text/javascript">
scale = function (num) {
	this.btn = document.getElementById("btn_"+num);
	this.bar = document.getElementById("bar_"+num);
	this.title = document.getElementById("title_"+num);
	this.step = this.bar.getElementsByTagName("DIV")[0];
	//this.step = document.getElementById("div_"+num);;
	this.num = num;
	this.init();
};
scale.prototype = {
	init: function () {
		var f = this, g = document, b = window, m = Math , n = this.num;
		f.btn.onmousedown = function (e) {
			var x = (e || b.event).clientX;
			var l = this.offsetLeft;
			var max = f.bar.offsetWidth - this.offsetWidth;
			g.onmousemove = function (e) {
				var thisX = (e || b.event).clientX;
				var to = m.min(max, m.max(-2, l + (thisX - x)));
				f.btn.style.left = to + 'px';
				f.ondrag(m.round(m.max(0, to / max) * 50), to , n);
				b.getSelection ? b.getSelection().removeAllRanges() : g.selection.empty();
			};
			g.onmouseup = new Function('this.onmousemove=null');
		}; 
	},
	ondrag: function (pos, x ,n) {
		this.step.style.width = Math.max(0, x) + 'px';
		this.title.innerHTML = pos / 10 + '';

		if(n.substr(0,1) === "A"){
			var m = n.replace("A","B");
		}else{
			var m = n.replace("B","A");
		}

		var to = 200 - Math.max(0, x);
		var html =( 50 - pos )/ 10+ '';
		$("#btn_"+m).css("left",to+"px");
		$("#div_"+m).css("width",to+"px");
		$("#title_"+m).html(html);
	}
}


$(function(){  
   alltitle();
});  
function alltitle(){
	for(var i=1;i<49;i++){
	   new scale('A'+i);
	   new scale('B'+i);
   }
}
$('#submit').click(function(){
	var Ascore =[];
	var Bscore =[];
	for(var j=1;j<49;j++){
		Ascore[j] = $("#title_A"+j).html();
		Bscore[j] = $("#title_B"+j).html();
	}
	$.post('/index.php/index/index/deal',
	{
		a:Ascore,
		b:Bscore
	},
		function(data,status){
        	alert("您的测试结果: \n" + data);
    });
	
});
</script>
</body>
</html>