<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>欢迎测评！</title>

<link type="text/css" href="/statics/css/layui.css" rel="stylesheet" />

<style>
body{
		
}
.grade_warp{
	margin:80px auto 20px auto;width:1020px;text-align:center;
}
.grade_warp2{
	position: absolute;
	margin:80px auto 20px auto;
	left:50%;
	margin-left:-510px;
}
li:hover {opacity:0.7;filter(alpha=70)}
a.under:hover {text-decoration:underline;}
a{text-decoration:none;letter-spacing: 1px;}
</style>
</head>
<body>
<div style="background-color:#383838;width:100%;height:44px;position:fixed;top:0px;">
<ul style="margin:10px auto auto auto;width:1020px;text-align:center;">
<li style="margin-left:0px;float:left;"><a href="/"><img src="/statics/images/plane.png" width="23px" height="23px"/></a></li>
<li style="margin-left:80px;float:left;margin-top:5px;"><a href="/index.php/psytest/mbti/index" style="color:#fff;font-family:Arial, Helvetica, sans-serif;font-size:14px;">MBTI</a></li>
<li style="margin-left:60px;float:left;margin-top:5px;"><a href="/index.php/psytest/pf/index" style="color:#fff;font-family:Arial, Helvetica, sans-serif;font-size:14px;">16PF</a></li>
<li style="margin-left:600px;float:left;"><a ><img src="/statics/images/123.png" width="20px" height="20px"/></a></li>
<li style="margin-left:80px;float:left;margin-top:-5px;"><a ><img src="/statics/images/weixin.png" width="33px" height="33px"/></a></li></ul>
</div>

<div class="grade_warp">
<p style="font-size:40px;font-family:'叶根友毛笔行书2.0版';margin-bottom:40px;">知己知彼，百战不殆</p>
<img src="/statics/images/Saturday.jpg" width="680px" height="300px" style="border-radius:50px;">
<div style="margin-top:20px;">
<p style="text-align:center;margin-bottom:25px;color:#999;font-family:Arial, Helvetica, sans-serif;font-size:19px;font-weight:bold;">每一个人都是宝藏</p>
<a id="begin" class="under" style="font-family:'微软雅黑';color:#1E90FF;font-size:21px;font-weight:bold;">开始测评&nbsp;></a>&nbsp;&nbsp;&nbsp;&nbsp;
<a id="about" class="under" style="font-family:Arial, Helvetica, sans-serif;color:#1E90FF;font-size:21px;font-weight:bold;">了解更多&nbsp;></a>
</div>
</div>

<div class="grade_warp2">
<div style="width:1020px;border-bottom:1px solid #D8D8D8;margin-top:120px;"></div>
<p style="margin-top:-25px;color:#888888;font-size:5px;float:left;">联系我们 微信公众号:SisterGate 邮箱:    ©指明网		</p>
<p style="margin-top:10px;color:#888888;font-size:5px;float:left;">Copyright © 2017 sistergate.com &nbsp;&nbsp;&nbsp;保留所有权利。
<a style="margin-left:50px;font-size:5px;" href="" class="under">隐私政策</a>
<span style="color:#CCC;margin-left:10px;margin-right:10px;">|</span>
<a style="font-size:5px;" href="" class="under">使用条款</a>
<span style="color:#CCC;margin-left:10px;margin-right:10px;">|</span>
<a style="font-size:5px;" href="" class="under">法律信息</a>
<span style="color:#CCC;margin-left:10px;margin-right:10px;">|</span>
<a style="font-size:5px;" href="" class="under">网站地图</a>
<a style="margin-left:350px;" class="under"><img src="/statics/images/China.png" width="15px" height="15px" style="margin-right:5px;"/>中国</a>
</p>
<p style="margin-top:10px;color:#888888;font-size:5px;float:left;margin-right:800px;"> 陕ICP备17016501</p>
</div>

</body>
</html>