<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>MBTI</title>
<style>
.grade_warp{
	margin:100px auto auto auto;width:1020px;text-align:center;
}
a:hover {text-decoration:underline;}
a{text-decoration:none;letter-spacing: 1px;}
</style>
<body>

<div class="grade_warp">
<h1>MBTI</h1>
<h2>此处有文字，蛋花没给我</h2>
<h2>此处有图片，蛋花没给我</h2>

<a id="begin" href="/index.php/psytest/mbti/question" style="font-family:Arial, Helvetica, sans-serif;color:#1E90FF;font-size:23px;font-weight:bold;">开始测评&nbsp;></a
</div>

</body>
</html>